.btn {
    color: var(--color-btn);
    text-transform: uppercase;
    padding: 4.8125rem 3.875rem 4.8125rem  3.625rem; /*  77px 62px 77px 58px */
    display: block;
    width: fit-content;

    position: relative;

    font-size: 1.6875rem; /* 27px */
    line-height: 2.15625rem; /* 34.5px */
    mso-line-spacing: '0.5px'; /* 27px */
}

.btn-decor,
.btn svg {
    fill: currentColor;

    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    scale: 1.3;
}


.btn-decor path {
    fill: currentColor;
}

@media screen and (max-width: 1280px) {
    .btn {
        padding: 3rem 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .btn {
        padding: 2.5rem 1.5rem;
    }
}