.do {

}

.do__title.subtitle-accent {
    text-align: center;
    margin-bottom: 3.5625rem; /* 57px */
    text-transform: uppercase;
}

.do__card {}

.do__card-img {
    width: 100%;
    height: auto;
}
.do__card--primary .do__card-img {
    aspect-ratio: 1164 / 700;
    margin-bottom: 1.8125rem; /* 29px */
}

.do__card--secondary {
    width: 46%;
}

.do__card--secondary:nth-child(2n) {
    margin-top: 48.8%;
}

.do__card--secondary .do__card-img {
    aspect-ratio: 536 / 729;
    margin-bottom: 1.4375rem; /* 23px */
}

.do__secondary-group {
    padding: 6.25rem 0; /* 100px */

    display: flex;
    justify-content: space-between;
}

.do__card-title {
    text-transform: uppercase;

    font-size: 1.875rem; /* 30px */
    letter-spacing: 0.03125rem; /* 0.5px */
    font-weight: bold;
}

.do__text {
    font-size: 3.875rem; /* 62px */
    line-height: 4.45625rem; /* 71.3px */

    margin-top: 3.4375rem; /* 55px */
}

.do__text svg {
    width: 1.5em;
    height: 1em;
}

.do__card-btn {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1280px) {
    .do__text {
        font-size: 3rem;
        line-height: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .do__text {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
}