.footer {
    background-color: var(--color-secondary);
    color: var(--color-text-reverse);

    display: grid;
    grid-template-columns: auto minmax(auto, 480px) auto;

    font-size: 1rem;
    line-height: 1.3rem; /* 20.8 */

    padding: 5.8125rem var(--px-footer) 5.75rem;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links a {
    transition: color 0.2s;
}

@media (hover: hover) and (pointer: fine) {
    .footer__links a:hover {
        color: var(--color-accent);
    }
}

@media (hover: none) {
    .footer__links a:active {
        color: var(--color-accent);
    }
}

.footer__created-by {
    text-align: right;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .footer__links {
        flex-direction: column;
    }
}