header {
    padding: 1.1875rem var(--px-header) 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 84px;
    height: 49px;
}

.nav-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-btn span {
    width: 57px;
    height: 4px;

    background-color: var(--color-secondary);
}