.hero {
    padding-top: 2.625rem; /* 42px */
}

.hero__text {
    font-size: 1.625rem; /* 26px */
    line-height: 2.1125rem; /* 33.8px */

    width: clamp(250px, 707px, 62%);
    padding: 0 4px;
    margin: 0 auto;
    text-align: center;
}

.hero__title {
    text-transform: uppercase;
    line-height: 15.08125rem; /* 241.3px */
    letter-spacing: -0.8em; /* 2px not appropriate visual*/

    margin: -1.25rem 0 -3.75rem;
    text-align: center;
}

.hero__title span {
    scale: 1;
}
.hero__title-letter--default {
    font-size: 11.1875rem; /* 179px */
}

.hero__title-letter--big {
    font-size: 12.0625rem; /* 193px */
}

.hero__title-letter--accent {
    color: var(--color-accent);
}

.hero__title-letter--o {
    position: relative;
}

.hero__title-letter--o::after {
    content: 'o';
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--color-primary);
    z-index: 1;

    font-size: 8.4375rem; /* 135px */
    line-height: 1.5;
}

.hero__img {
    aspect-ratio: 1156 / 520;
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
}


@media screen and (max-width: 1380px) {
    .hero__title {
        line-height: 13rem;
    }
    .hero__title-letter--default {
        font-size: 10rem;
    }

    .hero__title-letter--big {
        font-size: 11rem;
    }
}

@media screen and (max-width: 1280px) {
    .hero__title {
        line-height: 10rem;
        margin: 0 auto;
    }
    .hero__title-letter--default {
        font-size: 8.5rem;
    }

    .hero__title-letter--big {
        font-size: 9.5rem;
    }

    .hero__title-letter--o::after {
        font-size: 7rem;
    }
}

@media screen and (max-width: 880px) {
    .hero__title-letter--default {
        font-size: 7.5rem;
    }

    .hero__title-letter--big {
        font-size: 8.5rem;
    }

    .hero__title-letter--o::after {
        font-size: 6rem;
    }
}

@media screen and (max-width: 768px) {
    .hero__title {
        line-height: 8rem;
        letter-spacing: -0.5rem;
    }

    .hero__title-letter--default {
        font-size: 6rem;
    }

    .hero__title-letter--big {
        font-size: 7rem;
    }

    .hero__title-letter--o::after {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 500px) {
    .hero__title-letter--default {
        font-size: 4.5rem;
    }

    .hero__title-letter--big {
        font-size: 5.5rem;
    }

    .hero__title-letter--o::after {
        font-size: 3.5rem;
    }
}