@import "variables.css";
@import "header.css";
@import "footer.css";
@import "btn.css";
@import "hero.css";
@import "greeting.css";
@import "me.css";
@import "do.css";
@import "turn.css";

body {
    background-color: var(--color-primary);
}

main {
    padding: 0 var(--px-main);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    object-fit: cover;
}

button {
    border: none;
    padding: 0;
}
.subtitle-accent {
    color: var(--color-accent);

    font-size: 1.8125rem; /* 29px */
    line-height: 2.15625rem; /* 34.5px */
    letter-spacing: 0.03125rem; /* 0.5px */
}
