:root {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: clamp(8px, 16px + ((100vw - 1440px) * 0.005), 16px);

    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    /* vars */
    /* SPACING */
    --px-header: 1.25rem;
    --px-footer: 3.125rem; /* 50px */
    --px-main: 8.875rem;

    /* COLORS */

    /* SEMANTIC ROLES COLORS */
    --color-primary: var(--gray);
    --color-secondary: var(--black);
    --color-text: var(--black);
    --color-text-reverse: var(--white);
    --color-btn: var(--brown);
    --color-accent: var(--brown);

    /* COLORS PALATE*/
    --white: #FFFFFF;
    --gray: #F2F2F2;
    --black: #000000;
    --brown: #9FA080;

    /* MEDIA */
    /* mobile */
    --screen-xs: 320px;
    --screen-sm: 480px;

    /* tablets */
    --screen-md: 768px;
    --screen-lg: 1024px;

    /* desktop */
    --screen-xl: 1280px;
    --screen-xxl: 1440px;

    /* big screen */
    --screen-xxxl: 1920px;
}

@media screen and (max-width: 1280px) {
    :root {
        --px-main: 7rem;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --px-main: 3rem;
    }
}
